<footer class="content">
  <section class="footer-nav"><a href="/about">About</a> &#149; <a href="#">Contact</a> &#149; <a href="/order">Order</a></section>
  <div class="footer-social">
    <a href="http://facebook.com/rollerbakers" target="_blank">
      <span class="fa-stack">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="http://twitter.com/rollerbakers" target="_blank">
      <span class="fa-stack">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="http://instagram.com/rollerbakers" target="_blank">
      <span class="fa-stack">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>
  <section class="legal">&copy; 2015 RollerBakers LLC.</section>
</footer>
