<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>RollerBakers</title>

<!-- Core Items -->
<link rel="stylesheet" href="/css/fonts.css" charset="utf-8">
<link rel="stylesheet" href="/css/widgets.css" charset="utf-8">
<link rel="stylesheet" href="/css/app.css" charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- Libraries/Plugins -->
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>

<script src="/js/bundle.min.js" charset="utf-8"></script>
