<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>RollerBakers</title>

<!-- Libraries/Plugins -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script src="http://gregfranko.com/jquery.selectBoxIt.js/js/jquery.selectBoxIt.min.js"></script>

<script src="/js/stickystuff.js" charset="utf-8"></script>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- Core Items -->
<link rel="stylesheet" href="/css/fonts.css" charset="utf-8">
<link rel="stylesheet" href="/css/widgets.css" charset="utf-8">
<link rel="stylesheet" href="/css/app.css" charset="utf-8">
<script src="/js/app.js" charset="utf-8"></script>
