{% extends '../layout.html' %}

{% block header-left %}
<div class="menu left">
  <ul class="menu-list">
  </ul>
</div>
{% endblock header-left %}

{% block header-right %}
{% endblock header-right %}

{% block body %}
<div class="section-header content">
  <h2 class="section-header-title">What is Your Delivery Zip Code?</h2>
  <h4 class="section-header-subtitle">So we can get your order to you!</h4>
</div>
{% if isError %}
<section class="address-checker-error">
  <h3><i class="fa fa-exclamation-circle"></i> We aren't in your area yet!</h3>
  <p>
    Sorry, we are only serving a very limited market in Denver right now! We will contact you when we can deliver to you!
  </p>
</section>
{% endif %}
<section class="address-checker-holder">
  <div class="address-checker-zip">
    <form class="" action="/order/address" method="POST">
      <input class="sidecheck-left-input" type="text" name="delivery-zip" id="zip" value="{{ order.zip }}" placeholder="Zip Code" />
      <button name="action" value="checkout" class="sidecheck-right-btn btn big-action-btn blue">Continue Order</button>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    </form>
  </div>
</section>
</section>
<script type="text/javascript">
  var cQ = {
    {% for item in order.products %}
      {{item.id}}:{{item.quantity}},
    {% endfor %}
  };
</script>
{% endblock body %}
