{% extends '../layout.html' %}

{% block header-left %}
<div class="menu left">
  <ul class="menu-list">
  </ul>
</div>
{% endblock header-left %}

{% block header-right %}
<a class="edit-order btn little-btn red" href="/shop">
  <span>Edit Order</span>
</a>
{% endblock header-right %}

{% block body %}
<div class="section-header content">
  <h2 class="section-header-title">Your Delivery</h2>
  <h4 class="section-header-subtitle js-required">On Demand or Scheduled.</h4>
  <noscript>
    <h4 class="section-header-subtitle">Warm and freshly baked.</h4>
  </noscript>
</div>
<section class="order-form content">
  <section class="delivery-settings content">

  </section>
  <form class="delivery-form" action="/order" method="post">
  <section class="col-container">
    <div class="col col-60">
      <div class="order-info">
        <h4>Your Info</h4>
        <div class="input-holder">
          <span class="order-input order-info-person order-info-col col-50"><input type="text" name="customer-name" value="" placeholder="Your Name" /></span>
          <span class="order-input order-info-person order-info-col col-50"><input type="text" name="customer-phone" value="" placeholder="Your Phone Number" /></span>
          <div class="clear"></div>
        </div>
        <div class="input-holder">
          <span class="order-input order-info-person order-info-col col-100"><input type="text" name="customer-email" value="" placeholder="Your Email" /></span>
          <div class="clear"></div>
        </div>
        <h4>Delivery Info</h4>
        <div class="input-holder">
          <span class="order-input order-info-address order-info-col col-60"><input type="text" name="delivery-address" value="" id="autocomplete" placeholder="Street Address/Building Name" /></span>
          <span class="order-input order-info-address order-info-col col-40"><input type="text" name="delivery-suite" value="" placeholder="Room/Suite #" /></span>
          <div class="clear"></div>
        </div>
        <div class="input-holder">
          <span class="order-input order-info-location order-info-col col-45"><input type="text" name="delivery-city" id="city" value="" placeholder="City" /></span>
          <span class="order-input order-info-location order-info-col col-25"><input type="text" name="delivery-state" id="state" value="" placeholder="State" /></span>
          <span class="order-input order-info-location order-info-col col-30"><input type="text" name="delivery-zip" id="zip" value="" placeholder="Zip Code" /></span>
          <div class="clear"></div>
        </div>
        <div class="input-holder">
          <div class="order-input order-info-col col-100">
            <textarea class="js-required" name="delivery-notes-js" placeholder="Delivey Notes. Where do you want is delivered? The lobby? Your room?"></textarea>
            <noscript><textarea name="delivery-notes" placeholder="Delivey Notes. Also include when you want your cookies delivered (now or later). We are open 8PM-12AM M-F."></textarea></noscript>
          </div>
          <div class="clear"></div>
        </div>
        <h4>Payment Options</h4>
        <div class="input-holder js-required">
          <span class="delivery-type-text">I would like to pay with </span>
          <select class="delivery-payment-selection delivery-payment col col-100" name="payment-type">
            <option value="credit-card">a credit card.</option>
            <option value="cash">cash.</option>
          </select>
        </div>
        <noscript>You can pay with cash or a credit card on delivery. In order to pay with a credit card now, you must turn on javascript.</noscript>
        <div class="delivery-payment-form js-required">
          <div class="input-holder">
            <span class="order-input order-info-card-number order-info-col col-100"><input type="text" autocomplete="off" data-braintree-name="number" value="" placeholder="Card Number" /></span>
            <div class="clear"></div>
          </div>
          <div class="input-holder">
            <span class="order-input order-info-card-name order-info-col col-50"><input type="text" autocomplete="off" data-braintree-name="cardholder_name" value="" placeholder="Card Holder Name" /></span>
            <span class="order-input order-info-card-date order-info-col col-30"><input type="text"   autocomplete="off" data-braintree-name="expiration_date" value="" placeholder="MM/YY" /></span>
            <span class="order-input order-info-card-cvc order-info-col col-20"><input type="text"  autocomplete="off" data-braintree-name="cvv" value="" placeholder="CVV" /></span>
            <div class="clear"></div>
          </div>
          <div class="input-holder">
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="col col-40">
      <div class="order-recipt">
        <h4 class="left">Your Items (<span class="total-quantity">{{order.quantity}}</span>)</h4><a href="/shop" class="right">Edit Order</a>
        <div class="clear"></div>
        <div class="order-recipt-bg">
          <table class="order-products product-form">
            {% for item in order.products %}
            <tr class="order-product">
              <td class="order-product-quantity">{{ item.quantity }}</td>
              <td>x</td>
              <td class="order-product-name">{{ item.name }}</td>
              <td class="order-product-price">
                $<span class="the-real-price">{{ item.price }}</span>
                <a href="/order/removeProduct/{{ item.id }}" class="product-remove" name="product-remove" data-id="{{ item.id }}">
                  <i class="fa fa-times"></i>
                  <i class="fa fa-refresh fa-spin hide"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </table>
          <a href="/shop" class="emptycart {% if order.products.length != 0 %} hide{% endif %}">Your cart is empty! Add something to it!</a>
          <hr class="top-30">
          <div class="total-text">Total : <span class="total-price">${{ order.price }}</span></div>
          <div class="clear"></div>
          <div class="delivery-info-form top-20">
            <div class="js-required dont-spill">
              <span class="delivery-type-text">Deliver my order </span><select class="delivery-selection delivery-type left" name="delivery-type">
                <option value="dis" disabled selected>when?</option>
                <option value="now">now.</option>
                <option value="later">later.</option>
              </select>
              <div class="delivery-date-holder">
                <select class="delivery-selection delivery-date" name="delivery-date">
                  <option value="dis" disabled selected>Date..</option>
                </select>
              </div>
              <div class="delivery-time-holder">
                <select class="delivery-selection delivery-time" name="delivery-time">
                  <option value="dis" disabled selected>Time?</option>
                </select>
              </div>
            </div>
          </div>
          <button name="action" value="checkout" class="confirm-order confirm-order-btn btn big-action-btn green{% if order.products.length == 0 %} disabled{% endif %}"{% if order.products.length == 0 %} disabled{% endif %}>Confirm Order</button>
          <div class="fa-refresh-div hide">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  </form>
  </section>
  <div class="clear order-bottom"></div>
</section>
<script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.

var placeSearch, autocomplete;
var componentForm = {
  premise: 'short_name',
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};
var componentFormValues = {
  premise: '',
  street_number: '',
  route: '',
  locality: '',
  administrative_area_level_1: '',
  country: '',
  postal_code: ''
};

function initAutocomplete() {
  // Create the autocomplete object, restricting the search to geographical
  // location types.
  autocomplete = new google.maps.places.Autocomplete(
    /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
    {types: ['geocode']});

  // When the user selects an address from the dropdown, populate the address
  // fields in the form.
  autocomplete.addListener('place_changed', fillInAddress);

  var geolocation = {
    lat: 39.679,
    lng: -104.962
  };
  var circle = new google.maps.Circle({
    center: geolocation,
    radius: 5000
  });
  autocomplete.setBounds(circle.getBounds());
  autocomplete.setComponentRestrictions({
    'country': 'US'
  });
}

// [START region_fillform]
function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  // Get each component of the address from the place details
  // and fill the corresponding field on the form.
  componentFormValues = {
    premise: '',
    street_number: '',
    route: '',
    locality: '',
    administrative_area_level_1: '',
    country: '',
    postal_code: ''
  };

  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    if (componentForm[addressType]) {
      componentFormValues[addressType] = place.address_components[i][componentForm[addressType]];
    }
  }

  var strt = "";
  if(componentFormValues.premise.length !== 0) {
    strt += componentFormValues.premise;
  }
  if(componentFormValues.street_number.length !== 0 && componentFormValues.route.length !== 0) {
    if(strt.length !== 0) {
      strt += ", ";
    }
    strt += componentFormValues.street_number+" "+componentFormValues.route;
  }
  if(strt.length > 0) {
    $('#autocomplete').val(strt);
  }
  $('#city').val(componentFormValues.locality);
  $('#state').val(componentFormValues.administrative_area_level_1);
  $('#zip').val(componentFormValues.postal_code);
}
// [END region_fillform]
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW7-Y6YcKIvMoGk7cZqEPfepzhZXx7BJc&signed_in=true&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock body %}
