{% extends '../layout.html' %}

{% block header-left %}
<div class="menu left">
  <ul class="menu-list">
  </ul>
</div>
{% endblock header-left %}

{% block header-right %}
<a class="checkout-btn btn little-btn green {% if order.quantity === 0 %}hide{% endif %}" href="/order">
  <span class="quantity">{{ order.quantity || 0 }}</span>
  <span>Checkout <i class="fa fa-shopping-cart"></i></span>
</a>
{% endblock header-right %}

{% block body %}
<div class="section-header content">
  <h2 class="section-header-title">Pick Your Cookies</h2>
  <h4 class="section-header-subtitle">Baked fresh everyday. Delivered with no fee.</h4>
</div>
<section class="products">
  <div class="product big-product">
    <div class="big-product-left col col-50">
      <img class="big-product-image" src="/img/cookies.jpg" alt="Picture of Chocolate Chip Cookies" />
    </div>
    <div class="big-product-right col col-50">
      <form class="product-form" data-id="0" action="/order/addProduct/0" method="post">
      <div class="product-info">
        <h3 class="product-title">Classic Chocolate Chip Cookies</h3>
        <p class="product-description">The original RollerBakers cookies. Classic soft and chewy chocolate chip cookies baked just for you.</p>
        <div class="product-quanity-holder">
          <div><button type="submit" name="qtbtn" value="3" class="btn quant-btn big-action-btn no-hover">3</button>
          <button type="submit" name="qtbtn" value="6" class="btn quant-btn big-action-btn no-hover">6</button>
          <button type="submit" name="qtbtn" value="9" class="btn quant-btn big-action-btn no-hover">9</button>
          <button type="submit" name="qtbtn" value="12" class="btn quant-btn big-action-btn no-hover">12</button></div>
          <div><button type="submit" name="qtbtn" value="15" class="btn quant-btn big-action-btn no-hover">15</button>
          <button type="submit" name="qtbtn" value="18" class="btn quant-btn big-action-btn no-hover">18</button>
          <button type="submit" name="qtbtn" value="21" class="btn quant-btn big-action-btn no-hover">21</button>
          <button type="submit" name="qtbtn" value="24" class="btn quant-btn big-action-btn no-hover">24</button></div>
          <input type="hidden" name="quantity" value="6" />
        </div>
        <div class="top-10">
          <span class="product-price"></span>
          <button type="submit" name="submit" class="product-add btn big-action-btn red top-10 js-required">
            <span class="add">Add to Order <i class="fa fa-arrow-circle-right"></i><i class="fa fa-refresh fa-spin hide"></i></span>
            <span class="checkout hide">Checkout <i class="fa fa-shopping-cart"></i></span>
          </button>
        </div>

      </div>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      </form>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</section>
<script type="text/javascript">
  var cQ = {
    {% for item in order.products %}
      {{item.id}}:{{item.quantity}},
    {% endfor %}
  };
</script>
{% endblock body %}
