{% extends '../layout.html' %}

{% block header-left %}
<div class="menu left">
  <ul class="menu-list">
  </ul>
</div>
{% endblock header-left %}

{% block header-right %}
<a class="checkout-btn btn little-btn green {% if order.quantity === 0 %}hide{% endif %}" href="/order/info">
  <span class="quantity">{{ order.quantity || 0 }}</span>
  <span>Checkout <i class="fa fa-shopping-cart"></i></span>
</a>
{% endblock header-right %}

{% block body %}
<div class="section-header content">
  <h2 class="section-header-title">We Received Your Order!</h2>
  <h4 class="section-header-subtitle">Your order is being specially prepared for you fresh, and is likely to be warm when you get it.</h4>
</div>
<section class="order-info content">
</section>
{% if !subscribed %}
<section class="promo-email-holder">
  <h4 class="section-header-subtitle">Want to get discounts, coupons, and loyalty rewards? Enter your email to get credit for your order!</h4>
  <div class="promo-email">
    <form class="" action="/order/success" method="POST">
      <input class="sidecheck-left-input" type="text" name="email" placeholder="sam@example.com" />
      <button name="action" value="checkout" class="sidecheck-right-btn btn big-action-btn blue">Get Rewards</button>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    </form>
  </div>
</section>
{% else %}
<section class="promo-email-holder">
  <h4 class="section-header-subtitle">Your awesome! Thanks for subscribing!</h4>
</section>
{% endif %}
<section class="features content">
  <ul>
    <li>
      <div class="feature-icon lcookie-icon"></div>
      <div class="feature-text">
        <h4>100% quality cookies.</h4>
        <p>We take pride in the quality of our cookies, and strive to deliver the best possible cookies directly to you.</p>
      </div>
    </li>
    <li>
      <div class="feature-icon scookie-icon"></div>
      <div class="feature-text">
        <h4>Delivering to the University of Denver campus</h4>
        <p>At a greek house, normal house, dorm room, apartment, or even the library, we will deliver right to you.</p>
      </div>
    </li>
  </ul>
</section>
{% endblock body %}
