html, body {
  padding: 0;
  margin: 0;
  font-family: 'myriad-pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}
html {
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) ),
    url('https://source.unsplash.com/featured') no-repeat center center fixed;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
}
footer {
  position: absolute;
  bottom: 7px;
  right: 7px;
  color: rgba(255,255,255,0.5);
}
footer .heart {
  color: #fb4f4f;
}
footer a {
  color: rgba(255,255,255,0.5);
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px rgba(255,255,255,0.5) dotted;
}
footer a:hover {
  border-bottom: 1px rgba(255,255,255,0.5) solid;
}
.drop-img {
  width: 115px;
  height: 100px;
  background: url('/img/drop.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
.cog-img {
  width: 100px;
  height: 100px;
  background: url('/img/cog.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  animation: spin 4s infinite linear;
}
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
.dropbox-img {
  width: 24px;
  height: 24px;
  background: url('/img/dropbox.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: bottom;
}

.hero {
  position: relative;
  transition: min-height 0.3s ease;
}

.hero .hero-content {
  color: #fff;
  padding: 20px 10px 70px;
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
  transition: padding 0.3s ease;
}

.hero .hero-title {
  font-weight: 400;
  font-size: 45px;
  margin: 15px 0 20px;
}

.hero .hero-subtitle {
  font-weight: 200;
  font-size: 25px;
}

.low-foot {
  position: absolute;
  bottom: -600px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-bottom: 70px;
}
.low-foot-content {
  margin: 0 auto;
  max-width: 700px;
  min-height: 700px;
  color: #fff;
}

.button {
  margin: 30px auto 0;
  display: inline-block;
  padding: 5px 10px;
  background-color: #007ee5;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 9px 0 rgba(0,0,0,0.5);
  font-size: 22px;
}
.button:hover {
  background-color: #006AC1;
}

.button.blue {
  background-color: #007ee5;
}
.button.blue:hover {
  background-color: #006AC1;
}

.button.green {
  background-color: #5ACA40;
}
.button.green:hover {
  background-color: #479A33;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.nowrap {
  white-space:nowrap;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 500px;
  max-width: 400px;
}
