<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SplashDrop</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body class="full">
    <section class="hero absolute-center">
      <div class="hero-content">
        {% block body %}{% endblock body %}
      </div>
    </section>
    <footer>Made with <span class="heart">&#9829;</span> from <a href="https://sam.ink">Sam Schooler</a></footer>
  </body>
</html>
