<!DOCTYPE html>
<html>
  <head>
    {% include "./includes/head.html" %}
    {% block head %}{% endblock head %}
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header-bar content">
          <div class="logo left"><a href="/">ROLLERBAKERS</a></div>
            {% block header-left %}{% endblock header-left %}
          <div class="right">
            {% block header-right %}{% endblock header-right %}
          </div>
          <div class="clear"></div>
        </div>
      </header>
      {% block body %}{% endblock body %}
      {% include "./includes/footer.html" %}
    </div>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW7-Y6YcKIvMoGk7cZqEPfepzhZXx7BJc&signed_in=true&callback=initMap" async defer></script>-->
  </body>
</html>
